# can ignore all directories and files in a directory
./003Music163Spiders/*.log
./003Music163Spiders/autoLogin.py
./000PublicData/*.xls
./000PublicData/*.xlsx
./000PublicData/*.pdf
./000PublicData/*.png

