requests~=2.24.0
six~=1.15.0
moviepy~=1.0.3
open3d~=0.13.0
numpy~=1.21
matplotlib~=3.2.2
pyecharts~=1.6.2
itchat~=1.2.32
wxpy~=0.3.9.8
Pillow~=9.0.0
ujson~=4.0.2
folium~=0.11.0
apptools~=4.5.0
traits~=6.1.0
envisage~=4.9.2
pyface~=7.0.1
traitsui~=7.0.1
future~=0.18.2
ttkthemes~=3.1.1
selenium~=3.141.0
bs4~=0.0.1
beautifulsoup4~=4.9.3
setuptools~=47.1.1
openpyxl~=3.0.6
pandas~=1.0.5
Wand~=0.6.5
xlrd~=1.2.0
xlwt~=1.3.0
xlutils~=2.0.0
pytesseract~=0.3.7
networkx~=2.5
websocket~=0.2.1
opencv-python~=4.3.0.38
wxPython~=4.1.1
pynput~=1.6.8
scipy~=1.4.1
PyQt5~=5.15.2
PyYAML~=5.4.1
termcolor~=1.1.0
websocket-client~=0.57.0
handy~=0.7
imutils~=0.5.4
mss~=6.0.0
sklearn~=0.0
scikit-learn~=0.23.2
wget~=3.2
mrtparse~=1.8
Flask~=1.1.2
typeguard~=2.9.1
tqdm~=4.49.0
jieba~=0.42.1
wordcloud~=1.8.1
lxml~=4.6.3
jsonlines~=2.0.0
tornado~=6.1
graphqlclient~=0.2.4
plotly~=4.14.3
dash~=1.20.0
QtPy~=1.9.0
IPy~=1.1
moviepy~=1.0.3
imageio~=2.9.0
ujson~=5.1.0
taichi~=0.7.25
mayavi~=4.7.1+vtk82
ipinfo~=4.2.1
streamlit~=1.4.0
playwright~=1.18.0
